.Form {
  width: 95%;
  margin: 2rem 0 0 0;
  height: 12rem;
  background-color: rgb(53, 53, 53);
  border-radius: 10px;
  color: #ffffff;
}

.FormBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 1rem;
  height: 100%;
}

.FormBox h6 {
  width: 100%;
}

.FormItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
}
.SelectBox {
  width: 15rem;
}

.SelectBox label {
  right: 23px;
  left: 0;
  font-family: "iransans";
  color: #ffffff;
}

.select label {
  right: 23px;
  left: 0;
  font-family: "iransans";
  color: #ffffff;
}

.select svg {
  color: #ffffff;
  left: 7px;
  right: 210px;
}

.select fieldset legend {
  text-align: right;
}

.SubmitBTN {
  text-align: left;
  width: 100%;
  margin: 1rem 0;
}

.addWay {
  font-family: "iransans" !important;
  box-shadow: 0px 0px 15px goldenrod !important;
  margin-right: 1rem !important;
}

.unSubmit {
  font-family: "iransans" !important;
}
