.navbar {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 1rem;
}
.userInfo {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.userPic {
  width: 2.8rem;
  border-radius: 50%;
  margin: 0 1rem;
}
.flag {
  width: 1.3rem;
}
