.App-header {
  width: 100%;
  height: 100%;
  background-color: #191a1d;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: hidden;
}
.App-body {
  width: 70%;
  height: calc(100%-4rem);
}
